

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    color:#313131;
    font-size: 1rem;
}

#navbar {
    background-color: #f1f1f1;
    padding: 10px;
    width: 230px;
    height: 100%;
    box-sizing: border-box;
    position: fixed;
}

#title {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 10px;
    color: #000;
}

#first-link {
    border-top: 1px solid #ccc;
}

.nav-link {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.nav-link:last-child {
    border-bottom: none;
}

.nav-link:hover {
    color: #000;
}

#main-doc {
    flex: 1;
    padding: 20px;
    max-width: 800px;
    margin-left: 220px;
}

.main-section {
    margin-bottom: 40px;
}

.main-section header {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 10px;
        margin-left: 10px;
    
}

p {
    line-height: 1.5;
    margin-bottom: 10px;
    margin-left: 40px;
}

code {
    background-color: #b1b1b15d;
    display: block;
    margin: 10px;
    padding: 10px;
}

ul {
    margin-left: 20px;
    margin-bottom: 10px;
}

li{
    padding-top: 20px;
    margin-left: 40px;
}

@media (max-width: 768px) {
    body {
        display: block;
    }

    #navbar {
        width: 100%;
        height: auto;
        padding: 10px;
        position: static;
    }

    .scrollable {
        width: 100%;
        height: auto;
        padding: 10px;
        position: static;
        overflow-y: auto;
        max-height: 250px;
    }

    #navbar header {
        margin-bottom: 10px;
    }

    .nav-link {
        display: block;
        margin-right: 0;
        border-bottom: 1px solid #ccc;
    }

    .nav-link:last-child {
        border-bottom: none;
    }

    #main-doc {
        margin-left: 0;
        margin-top: 20px;
    }
}